* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

header{
    background-color: black;
    padding: 10px 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content .brand{
    font-size: 32px;
    text-decoration: none;
    color: white;
}
 nav ul {
     display: flex;
     list-style: none;
 }

 nav li a{
     display: flex;
     color: white;
     min-width: 50px;
     margin: 0 5px;
     padding: 5px;
 }
/* ******** Form ******** */

.section-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    background-color: thistle;
    padding: 20px;
}


 .section-form h2{
     font-size: 50px;
     letter-spacing: 2px;
     color: violet;
 }

 .section-form form input {
    display: block;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin:  5px 0;
    height: 40px;
    padding: 5px;
    border: 1px solid #ddd;

 }

 .section-form form input[type="submit"] {
     font-size: 25px;
     text-transform: uppercase;
     height: auto;

 }